{% extends"layoutMapAndMenu.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/SellerProfile.css">
{% endblock %}

{% block rightContent %}
    {#/Seller/UpdateSellerProfileFromForm#}
    <form class="sellerPage" method="post" name="UpdateSellerProfileFromForm" action="#">
        <div class="seller-page__name">
            <input class="heading h2" type="text" name="SELL_NAME" value="{{ sellerInfo.seller.SELL_NAME }}" placeholder="Nom de la boutique" required>
            <div class="buttons">
                <input type="submit" value="Mettre à jour">
                <input type="button" value="Annuler" onclick="ReloadPage('/Profile/SellerProfileView/{{ sellerInfo.seller.SELL_ID }}')">
            </div>
        </div>
        <div class="seller-page__resume">

            <div class="seller-page__rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span>53 avis</span>
            </div>
            <div class="seller-page__tag">
                <ul class="tags">
                    <li>Légumes</li>
                    <li>Bio</li>
                    <li>Permaculture</li>
                </ul>
            </div>
            <div class="seller-page__info">
                <div class="seller-page__info-userAddress">
                    <span class="iconify" data-inline="false" data-icon="clarity:map-marker-line"></span>
                    <span><input type="text" name="USER_ADDRESS" value="{{ sellerInfo.user.USER_ADDRESS }}" placeholder="Adresse" required></span>
                    <span><input type="text" name="USER_ZIP_CODE" value="{{ sellerInfo.user.USER_ZIP_CODE }}" placeholder="Code postal" required></span>
                    <span><input type="text" name="USER_CITY" value="{{ sellerInfo.user.USER_CITY }}" placeholder="Ville" required></span>
                </div>
                <div class="seller-page__info-userPhone">
                    <span class="iconify" data-inline="false" data-icon="clarity:phone-handset-line"></span>
                    <span><input type="tel" value="{{ sellerInfo.user.USER_PHONE }}" placeholder="Téléphone"></span>
                </div>
                <div class="seller-page__info-sellerDescription">
                    <span class="iconify" data-inline="false" data-icon="ant-design:file-text-outlined"></span>
                    <span><textarea name="SELL_PRES" form="UpdateSellerProfileFromForm" placeholder="Une petite description" required>{{ sellerInfo.seller.SELL_PRES }}</textarea></span>
                </div>

            </div>
        </div>
        <div class="seller-page-productList">
            {#<h2>Liste des produits</h2>#}
            {#For each tags create category#}
            {% for key, category in sellerProduct %}
                <div class="seller-page-product-cards">
                    <h3 class="seller-page-product-cards__category">{{ key }}</h3>
                    <div class="seller-page-productList-cards">
                        {#For each product create card#}
                        {% for product in category %}
                            <input type="hidden" name="PROD_ID" value="{{ product.PROD_ID }}">
                            <div class="seller-page-product-card">
                                <div class="seller-page-product-card__image">
                                    <img class="seller-page-product-card__image" src="{{ product.PROD_PICT }}">
                                </div>
                                <div class="seller-page-product-card__info">
                                    <input class="heading h3" type="text" name="PROD_NAME" value="{{ product.PROD_NAME }}" required>
                                    <input class="seller-page-product-description" type="text" name="PROD_DESC" name="PROD_NAME" value="{{ product.PROD_DESC }}" required>
                                    <input class="seller-page-product-card__price" type="number" name="PROD_PRICE" name="PROD_NAME" value="{{ product.PROD_PRICE }}" required>
                                    <div class="seller-page-product-card__quantity">
                                        <span class="iconify" data-inline="false" data-icon="ant-design:minus-square-filled" style="color: #6b8954; font-size: 25px;"></span>
                                        <span>1</span>
                                        <span class="iconify" data-inline="false" data-icon="eva:plus-square-fill" style="color: #6b8954; font-size: 25px;"></span>
                                    </div>
                                    <button class="seller-page-product-card__button">Add</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    {% endblock %}

    {% block leftContent %}
        {#<h1>Bienvenue sur Karotte</h1>#}
        <div id="sellerList" class="widgetContainer SellerCarousel">
            <div class="title-SellerList">
                <h2>Producteurs près de chez vous</h2>
            </div>
            <div class="seller-cards">
                {% for seller in sellerList %}
                    <div class="seller-card">
                        <div class="seller-card__image">
                            <img class="seller-card__thumb" src="/assets/img/img1.jpg">
                        </div>
                        <div class="seller-card__resume">
                            <h3><a href=/Seller/GetSellerById/{{ seller.SELL_ID }}>{{ seller['SELL_NAME'] }}</a></h3>
                            <div class="seller-card__rate">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="seller-card__tag">
                                <ul>
                                    <li>Légumes</li>
                                    <li>Bio</li>
                                    <li>Permaculture</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script src="/assets/js/sellerProfile.js"></script>
    {% endblock %}
