{% extends "layoutMapAndMenu.html.twig" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/assets/css/userProfilStylus.css">
{% endblock %}
{% block leftContent %}
    <div class="primaryContainer primaryContainer__background--color">
        <div class="mainContainer">
            <div class="accountContainer">
                <div class="titleBox">
                    <h2>compte de <span>{{ member['USER_NAME']}} {{ member['USER_SURNAME'] }}</span></h2>
                </div>
                <div class="formBox">
                    <form name="updateForm" method="post" class="formContainer" action="">
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre pseudonyme: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_PSEUDO'] }}" name="userPseudo">
                        </div>
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre adresse: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_ADDRESS'] }}" name="userAdress">
                        </div>
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre code postal: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_ZIP_CODE'] }}" name="userAdress">
                        </div>
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre mot de passe: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_PWD'] }}" name="userPasswd">
                        </div>
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre numéro de téléphone: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_PHONE'] }}" name="userPhone">
                        </div>
                        <div class="itemBox itemUserProfile">
                            <label class="labelBox">Changez votre e-mail: </label>
                            <input class="inputBox" type="text" value="{{ member['USER_EMAIL'] }}" name="userMail">
                        </div>
                        <div class="buttonBox">
                            <button type="submit" name="okBtn">Je valide</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}