{% extends"layoutMapAndMenu.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block rightContent %}
<div class="sellerGrid">
    <div class="blackBlock blackBlock__seller"></div>
    <div class="sellerContainer">
        <div class="sellerBox">
            <div class="seller">
                <div class="categoryTitle">
                    <h3>BOUTIQUE</h3>
                </div>
                <div class="seller-page__name">
                    <h2>{{ seller.SELL_NAME }}</h2>
                </div>
                {% if(accessProfile) %}
                <div class="ProfileAccess"><button onclick="accessToProfilePage({{ seller.SELL_ID }})">Modifier mon magasin</button></div>
                {% endif %}
                <div class="seller-page__resume">

                    <div class="seller-page__rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span>53 avis</span>
                    </div>
                    <div class="seller-page__tag">
                        <ul class="tags">
                            <li>Légumes</li>
                            <li>Bio</li>
                            <li>Permaculture</li>
                        </ul>
                    </div>
                    <div class="seller-page__info">
                        <ul>
                            <li><span class="iconify" data-inline="false" data-icon="clarity:map-marker-line"></span><span>{{ seller.SELL_LOC }}</span></li>
                            <li><span class="iconify" data-inline="false" data-icon="clarity:phone-handset-line"></span><span>06 12 23 45 56</span></li>
                            <li><span class="iconify" data-inline="false" data-icon="ant-design:file-text-outlined"></span><span>{{ seller.SELL_PRES }}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="seller-page-productList">
                    {% if(sellerProduct|length > 0) %}
                    <div class="categoryTitle">
                        <h3>PRODUITS</h3>
                    </div>
                    {% endif %}
                    {#<h2>Liste des produits</h2>#}
                    {#For each tags create category#}
                    {% for key, category in sellerProduct %}
                    <div class="seller-page-product-cards">
                        <h3 class="seller-page-product-cards__category">{{ key }}</h3>
                        <div class="seller-page-productList-cards">
                            {#For each product create card#}
                            {% for product in category %}
                            <div class="seller-page-product-card">
                                <div class="seller-page-product-card__image">
                                    <img src="{{ product.PROD_PICT }}">
                                </div>
                                <form method="post" action="/Basket/Addtobasket/{{ product.PROD_ID }}">
                                <div class="seller-page-product-card__info">
                                        <input name="BASKET_PRODUCT_ID" type="hidden" value="{{ product.PROD_ID }}">
                                        <h3>{{ product.PROD_NAME }}</h3>
                                        <p class="seller-page-product-description">{{ product.PROD_DESC }}</p>
                                        <label class="seller-page-product-card__price">{{ product.PROD_PRICE }}</label>
                                        <div class="seller-page-product-card__quantity">
                                            <label>Quantité <input name="BASKET_QUANTITY"></label>
                                            {#<span class="iconify" data-inline="false" data-icon="ant-design:minus-square-filled" style="color: #6b8954; font-size: 25px;"></span>
                                        <span>1</span>
                                        <span class="iconify" data-inline="false" data-icon="eva:plus-square-fill" style="color: #6b8954; font-size: 25px;"></span>#}
                                        </div>
                                    <div class="seller-page-product-card__button">
                                        <button name="addToCartBtn" onclick="toast()">Add</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div id="snackbar">Produit ajouté au panier !</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block leftContent %}
    {#<h1>Bienvenue sur Karotte</h1>#}
    <div id="sellerList" class="widgetContainer SellerCarousel">
        <div class="title-SellerList">
            <h2>Producteurs près de chez vous</h2>
        </div>
        <div class="seller-cards">
            {% for seller in sellerList %}
                <div class="seller-card">
                    <div class="seller-card__image">
                        <img class="seller-card__thumb" src="/assets/img/img1.jpg">
                    </div>
                    <div class="seller-card__resume">
                        <h3><a href=/Seller/GetSellerById/{{ seller.SELL_ID }}>{{ seller['SELL_NAME'] }}</a></h3>
                        <div class="seller-card__rate">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="seller-card__tag">
                            <ul>
                                <li>Légumes</li>
                                <li>Bio</li>
                                <li>Permaculture</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="/assets/js/sellerProfile.js"></script>
{% endblock %}
