{% extends"layoutMapAndMenu.html.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/assets/css/basketStylus.css">
{% endblock %}


{% block rightContent %}
    <div class="basketGrid">
        <div class="blackBlock blackBlock__basket"></div>
        <div class="basketContainer">
            <div class="basketBox">
                <div class="basketTitle">
                    <div class="titleBox">
                        <h1>Mon panier</h1>
                    </div>
                </div>
                <div class="basketContentBox">
                    <div class="productInfo">
                       <!-- <div class="tabBasket">
                           <table class="basketTitleTab">
                                <thead>
                                <th class="odd">Code</th>
                                <th class="even">Produit</th>
                                <th class="odd">Producteur</th>
                                <th class="even">Quantité</th>
                                <th class="odd">Prix</th>
                                <th class="even">Total</th>
                                 <div class="code even">
                                     <th>Code</th>
                                 </div>
                                 <div class="Product odd">
                                     <th>Produit</th>
                                 </div>
                                 <div class="Porducer even">
                                     <th>Producteur</th>
                                 </div>
                                 <div class="Quantity odd">
                                     <th>Quantité</th>
                                 </div>
                                 <div class="Price even">
                                     <th>Prix</th>
                                 </div>
                                 <div class="TotalProductPrice odd">
                                     <th>Total</th>
                                 </div>
                                </thead>
                            </table>
                        </div> -->
                        <div class="getInfoBasket">
                            <div class="infoBasket">
                                {% set totalPrice = 0 %}
                                {% for key, item in session.basket %}
                                    {% set totalPrice = totalPrice + (item.productPrice * item.productQuantity) %}
                                    <div class="contentBasket">
                                        <div class="productCode">
                                            <p>{{ key }}</p>
                                        </div>
                                        <div class="productBox">
                                            <div class="infoProduct">
                                                <div class="productName">
                                                    <p>{{ item.productName }}</p>
                                                </div>
                                                <div class="productSeller">
                                                    <p>{{ item.productSeller }}</p>
                                                </div>
                                                <div class="productSinglePrice">
                                                    <p>({{ item.productPrice }}€)</p>
                                                </div>
                                                <div class="productBasketTotalPrice">
                                                    <p>{{ item.productQuantity * item.productPrice }}€</p>
                                                </div>
                                            </div>
                                            <div class="quantityBox">
                                                <form class="formProductBox" method="post" action="/basket/updatebasket/{{ key }}">
                                                    <input type="number" min="0" name="productQuantity" value="{{ item.productQuantity }}">
                                                    <div class="addButton">
                                                        <button type="submit" name="modifBtn">Modifier</button>
                                                    </div>
                                                </form>
                                                <div class="trashProduct">
                                                    <a href="/basket/remove/{{ key }}"><span class="iconify" data-icon="ion-trash-a" data-inline="false"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {# <!-- <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ item.productName }}</td>
                                        <td>{{ item.productSeller }}</td>
                                        <td>
                                            <form method="post" action="/basket/updatebasket/{{ key }}">
                                                <input type="number" min="0" name="productQuantity" value="{{ item.productQuantity }}"><input type="submit" value="Modifier">
                                            </form>
                                        </td>
                                        <td>{{ item.productPrice }}€</td>
                                        <td> {{ item.productQuantity * item.productPrice }}€</td>
                                        <td><a href="/basket/remove/{{ key }}"><span class="iconify" data-icon="ion-trash-a" data-inline="false"></span></a></td>
                                    </tr> --> #}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# <!--
                    <table class="pure-table">
                        <thead>
                        <th>Code</th>
                        <th>Produit</th>
                        <th>Producteur</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Total</th>
                        </thead>
                        {% set totalPrice = 0 %}
                        {% for key, item in session.basket %}
                            {% set totalPrice = totalPrice + (item.productPrice * item.productQuantity) %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item.productName }}</td>
                                <td>{{ item.productSeller }}</td>
                                <td>
                                    <form method="post" action="/basket/updatebasket/{{ key }}">
                                        <input type="number" min="0" name="productQuantity" value="{{ item.productQuantity }}"><input type="submit" value="Modifier">
                                    </form>
                                </td>
                                <td>{{ item.productPrice }}€</td>
                                <td> {{ item.productQuantity * item.productPrice }}€</td>
                                <td><a href="/basket/remove/{{ key }}"><span class="iconify" data-icon="ion-trash-a" data-inline="false"></span></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    --> #}
                    {# <!-- <h2>Total = {{ totalPrice }}€ </h2> --> #}
                    {# <!-- <a type="submit" class="btn" href="/order/createorder">Valider</a> --> #}
                    {# <!-- <a href="/order/GetAllOrdersByUserId/{{ session.USER_ID }}">Mes commandes</a> --> #}


                    {#{% for session["cart_item"] as item %}
                <tr>
                    <td><img src="{{ item.PROD_PICT }}"></td>
                    <td>{{ item.PROD_ID }}</td>
                    <td>{{ item.PROD_QTY }}</td>
                    <td>{{ item.PROD_PRICE }}</td>
                    <td><a href="/basket/remove/{{ item.PROD_ID }}" class="btnRemoveAction"></a> </td>
                </tr>
                <p>Produit : {{ product.BASKET_PRODUCT_ID }} </p>
                <p>Quantité : {{ product.BASKET_QUANTITY }} </p>
                <p></p>
            {% endfor %}#}
                </div>
                <div class="totalBasketBox">
                    <div class="totalTitle">
                        <p>Total :</p>
                    </div>
                    <div class="totalPrice">
                        <p>{{ totalPrice }}€</p>
                    </div>
                </div>
                <div class="basketInfo">
                    <div class="validateBtn">
                        <button type="submit" class="btn" onclick="location.href='/order/createorder'">Valider</button>
                    </div>
                    <div class="orderBasket">
                        <a href="/order/GetAllOrdersByUserId/{{ session.USER_ID }}">Mes commandes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block leftContent %}
    <div id="sellerList" class="widgetContainer SellerCarousel">
        <div class="title-SellerList">
            <h2>Producteurs près de chez vous</h2>
        </div>
        <div class="seller-cards">
            {% for seller in sellerList %}
                <div class="seller-card">
                    <div class="seller-card__image">
                        <img class="seller-card__thumb" src="/assets/img/img1.jpg">
                    </div>
                    <div class="seller-card__resume">
                        <h3><a href=/?controller=seller&action=GetSellerById&param={{ seller.SELL_ID }}>{{ seller['SELL_NAME'] }}</a></h3>
                        <div class="seller-card__rate">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="seller-card__tag">
                            <ul>
                                <li>Légumes</li>
                                <li>Bio</li>
                                <li>Permaculture</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}